<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dynamodb="http://www.mulesoft.org/schema/mule/dynamodb" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd 
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd 
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/dynamodb http://www.mulesoft.org/schema/mule/dynamodb/current/mule-dynamodb.xsd">
	<http:listener-config name="cp-biz-common-sys-apis-httpListenerConfig" doc:name="HTTP Listener config" doc:id="f324407f-57ac-40b3-8e2f-1ed8822e90ac">
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration_Box_Upload" doc:name="HTTP Request configuration" doc:id="d9a9bfe7-504d-4693-8e9c-6a624cc0d868"
		basePath="/${box.upload.basepath}" responseTimeout="${http.responseTimeout}">
		<http:request-connection protocol="HTTPS" host="${box.upload.host}" connectionIdleTimeout="120000" streamResponse="true">
			<tls:context>
				<tls:key-store type="pkcs12" path="cpapi.p12" alias="cpapi" keyPassword="$cpapi$" password="$cpapi$" />
			</tls:context>
		</http:request-connection>
	</http:request-config>


	<http:request-config name="HTTP_Request_configuration_Box" doc:name="HTTP Request configuration" doc:id="1b498474-7478-4eb5-8cff-83d4507e3661" basePath="/${box.basepath}"
		responseTimeout="${http.responseTimeout}">
		<http:request-connection protocol="HTTPS" host="${box.host}" connectionIdleTimeout="120000" streamResponse="true">
			<tls:context>
				<tls:key-store type="pkcs12" path="cpapi.p12" alias="cpapi" keyPassword="$cpapi$" password="$cpapi$" />
			</tls:context>
		</http:request-connection>
	</http:request-config>


	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="e7c80a95-42e1-4963-84b4-0371419bcfb1" from="${smtp.email}">
		<email:smtp-connection host="${smtp.server}" port="${smtp.port}" timeoutUnit="MINUTES" connectionTimeout="4" readTimeout="4" writeTimeout="4" />
	</email:smtp-config>

	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="3e2dc35f-94e2-41b7-818b-06c0bfaafd09">
		<ftp:connection host="#[vars.ftpConfig.host]" username="#[vars.ftpConfig.username]" password="#[vars.ftpConfig.password]" port="#[vars.ftpConfig.port]" connectionTimeout="30"
			responseTimeout="30" />
	</ftp:config>
	<db:config name="Amazon_RedShift_Configuration" doc:name="AWS_Redshift_Database_Config" doc:id="21c605f0-ea0a-474b-8631-c6303295c653" >
		<db:generic-connection url="${secure::redshift.url}" driverClassName="${redshift.driverClassName}" user="${secure::redshift.username}" password="${secure::redshift.password}" />
	</db:config>
	<cloudhub:config name="CloudHub_Config" doc:name="CloudHub Config" doc:id="56abc2cd-21b1-4398-8007-6036494d2708">
		<cloudhub:connection username="${secure::cloudhub.username}" password="${secure::cloudhub.password}" environment="${cloudhub.environment}" />
	</cloudhub:config>

	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="563031c6-ef98-4f52-b8ce-2c52eadb9631"
		file="properties/config-${mule.env}.yaml" key="${mule.key}">
	</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="254258ed-031f-41cf-870b-46012ba74fb2" file="properties/config-common.yaml" />
	<global-property doc:name="Global Property" doc:id="f6100b89-0e02-41a6-8856-1e77e840db73" name="mule.env" value="qa" />
	<global-property doc:name="Global Property" doc:id="f63f7eae-2e40-4bdf-8e36-54955c39b6b1" name="mule.key" value="CPMuleSoft123456" />
	<configuration-properties doc:name="Configuration properties" doc:id="d897eda1-1410-4baf-a0ba-1d7884dc7799" file="properties\config-${mule.env}.yaml" />

	<wsc:config name="OSPC_Consumer_Config_Service" doc:name="OSPC Consumer Config Service" doc:id="4a18eb87-d7a9-46b7-bd03-8aa20b291452">
		<wsc:connection wsdlLocation="https://${secure::ospc.host}/idcws/GenericSoapPort?wsdl" service="GenericSoapService" port="GenericSoapPort"
			address="https://${secure::ospc.host}/idcws/GenericSoapPort" mtomEnabled="true">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next">
				<wsc:username-token-security-strategy username="${secure::ospc.username}" password="${secure::ospc.password}" />
				<wsc:timestamp-security-strategy timeToLive="${ospc.wsc.timeToLive}" />
			</wsc:web-service-security>
		</wsc:connection>
	</wsc:config>

	<http:request-config name="HTTP_Request_configuration_OSPC" doc:name="HTTP Request configuration" doc:id="d5e4394f-998c-420b-88b9-3935c3e3547e"
		responseTimeout="${ospc.responseTimeout}">
		<http:request-connection host="${secure::ospc.host}" connectionIdleTimeout="${ospc.connectionIdleTimeout}" protocol="HTTPS">
			<http:authentication>
				<http:basic-authentication username="${secure::ospc.username}" password="${secure::ospc.password}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>

	<http:request-config name="HTTP_Request_Configuration_Marketo" doc:name="HTTP Request configuration" doc:id="3b0f6a45-4bcb-4208-adaa-a6e6346cab9e" basePath="/"
		responseTimeout="${marketo.responseTimeout}">
		<http:request-connection protocol="HTTPS" host="#[vars.configurationVar.marketo_host]" connectionIdleTimeout="${marketo.connectionIdleTimeout}">
			<tls:context>
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="3b61bb4e-c730-40fc-a536-bd7ade992312">
		<s3:role-connection roleARN="#[vars.configVarAws.role]" accessKey="#[vars.configVarAws.accessKey]" secretKey="#[vars.configVarAws.secretKey]" region="#[vars.configVarAws.region]" />
	</s3:config>
	
	<dynamodb:config name="Amazon_DynamoDB_Configuration" doc:name="Amazon DynamoDB Configuration" doc:id="af4d4458-ece7-4b08-ad16-e85d05b62e8a">
		<dynamodb:basic-connection accessKey="#[vars.configVarAws.accessKey]" secretKey="#[vars.configVarAws.secretKey]" region="#[vars.configVarAws.region]" />
	</dynamodb:config>


</mule>
